version: "3.9"


services:
  server:
    build: ./server

    container_name: frontend
    ports:
      - "5000:5000"
    networks:
      - fullstack-net
    restart: unless-stopped
  client:
    build: ./client/vite-project
    ports:
      - "5173:3000"
    networks:
      - fullstack-net
    restart: unless-stopped
    depends_on:
      - server


networks:
    fullstack-net:
      driver: bridge